<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Mars Data</title>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="container">
      <div class:"row">
        <h2>Latest Mars News</h2>
        <h3>{{mars.Nasa_news}}</h3>
        <h3>{{mars.Nasa_text}}</h3>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h1 class="heading"><strong>Featured Mars Image</strong></h1>
          <img src="{{ mars.featured_image_url }}" class="img-responsive" alt="Mars Images">
          <br>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel-body">
          <h4>Current Weather on Mars</h4>
          <hr size=2>
          <p>{{mars.mars_weather}}</p>
        </div>
        <div class="col-md-12">
          <h4>Mars Facts</h4>
          <hr size=2>
          <table border="1" class="dataframe">
            {{mars.tables|safe}}
          </table>
        </div>


      </div>
</body>

</html>